@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Quiz 4</h1>
    <p>Database access has already been done on April 6, 2026 by Van Nguyen</p>
</div>